@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding : 0;
}

body {
    padding : 1em;
    font-family: 'Inter', sans-serif;
}

button {
    border : none;
    padding : .5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background : rgba(0,0,0,0.03);
    border-radius: 3px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    gap : 4px;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    padding : 1em;
    margin : 1em;
    border-radius: 6px;
}

input , select {
    padding : 0.5em;
    border-radius: 6px;
    border : 1px solid rgba(0,0,0,0.2);
    outline : none;
}


form button {
    margin-top : 1em;
}


span.bold {
    font-weight: bold;
    font-size: 1.2em;
}



.attendance-table-container {
    display: flex;
    flex-direction: column;
    margin : 1em;
}


.attendance-table-header p {
    padding-block : 0.5rem;
    font-size: 1em;
    opacity: 0.5;
}

.attendance-table {
    margin-top: 1em;
    padding : 1em;
    flex : 1;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: auto;
}

.attendance-table table  {
    margin-top : 1rem;
    width: 50%;
    text-align: center;
}

.attendance-table table tr *  ,  .timetable tr *{
    padding : 0.5em 1em;
}
.attendance-table table tr *:not(.attendance-table table tr *:last-child) {
    border-right : 1px solid #ececec;
}
.attendance-table table th  {
   
    border-bottom : 1px solid #ececec;
}

.attendance-table button {
    display: flex;
    width : 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}


.calender {
    border-collapse: collapse;
}

table th {
    font-size : 0.8em;  
}

table.calendar button {
    display: flex;
    width:  100%;
    height:  100%;
}

.timetable tr * {
    padding : 1em;
    height: 3em;
}

.timetable th , .timetable tbody tr td:first-child {
    background : rgba(0,0,0,0.05);
    vertical-align: middle !important;
}

.timetable th , .timetable tbody td {
    border-bottom : 1px solid rgba(0,0,0,0.2);
    border-right : 1px solid rgba(0,0,0,0.2);
} 

.timetable th , .timetable td {
    vertical-align: baseline;
    text-align: start;
    padding-right : 4em;
}
.timetable th span {
    padding-inline: 2px;
}
.timetable th span.timeSuffix {
    opacity: 0.5;
    font-size: 0.7em;
    padding : 0;
}